.filters {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-right: 2rem;
}

.filters h2, .filters h4{
    font-family: serif;
    font-weight: 300;
}

.filters h4{
    font-weight: 400;
    margin-bottom: 1rem;
}

.filter {
    border-bottom: 1px solid #acacac;
    padding-bottom: 2rem;
    position: relative;
}

.filter:last-child{
    border-bottom: 0;
}

.checkboxes {
    display: grid;
    gap: 0.5rem;
}

.checkboxes input {
    margin-right: 0.5rem;
    cursor: pointer;
}