#header{
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}

.header__menu ul{
    display: flex;
    column-gap: 2rem;
}

.header__menu li{
    color: #f5f5f5;
    cursor: pointer;
}

.post-header{
    background: #000;
    padding: 1rem 4rem;
    color: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-left: 0;
    border-right: 0;
    text-align: center;
}

.header__burger {
    display: none;
}


@media (width <= 991px) {
    .header__burger{
        display: block;
        color: #f5f5f5;
    }

    .header__menu{
        display: none;
    }
}

@media (width <= 767px) {
    #header, .post-header, .searchContainer{
        padding: 1rem 2rem !important;
    }
}